
MegaChees/MegaCheess.Menu/obj/

MegaChees/MegaCheess.Menu/bin/

MegaChees/MegaCheess.Menu/.vs/

MegaChees/MegaCheess.Menu/MegaCheess.Menu.csproj

MegaChees/MegaChees.Logic/bin/

MegaChees/MegaChees.Logic/MegaChess.Logic.csproj

MegaChees/Chess.Test/obj/

MegaChees/Chess.Test/bin/

*.csproj

MegaChees/MegaChees.Logic/obj/

MegaChees/Chess.Dekstop/obj/

MegaChees/Chess.Dekstop/icon/

MegaChees/Chess.Dekstop/bin/

*.config

MegaChees/.vs/MegaCheesLogic/v16/

MegaChees/.vs/MegaCheesLogic/DesignTimeBuild/

MegaChees/.vs/MegaChees/v16/

MegaChees/.vs/MegaChees/DesignTimeBuild/

*.sln

FunctionBulber/FunctionBulber.Logic/obj/

FunctionBulber/FunctionBulber.Logic/bin/

FunctionBulber/FunctionBulber.Logic/.vs/

FunctionBulber/FunctionBulber/obj/

FunctionBulber/FunctionBuilber.Console/obj/

FunctionBulber/FunctionBuilber.Console/bin/

FunctionBulber/FunctionBuilber.Console/.vs/

FunctionBulber/FunctionBilder.Dekstop/obj/

FunctionBulber/FunctionBilder.Dekstop/icons/

FunctionBulber/FunctionBilder.Dekstop/bin/

FunctionBulber/FunctionBilber.Test/obj/

FunctionBulber/FunctionBilber.Test/bin/

FunctionBulber/.vs/
