# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

FunctionBulber/.vs/

FunctionBulber/FunctionBulber/obj/

FunctionBulber/FunctionBilber.Test/obj/

FunctionBulber/FunctionBulber.sln

FunctionBulber/FunctionBilder.Dekstop/obj/

FunctionBulber/FunctionBuilber.Console/obj/

FunctionBulber/FunctionBulber/FunctionBulber/obj/

FunctionBulber/FunctionBulber/FunctionBulber/bin/

FunctionBulber/FunctionBulber/FunctionBulber.sln

FunctionBulber/FunctionBulber/.vs/

FunctionBulber/FunctionBulber/FunctionBilber.Test/obj/

FunctionBulber/FunctionBulber/FunctionBilber.Test/bin/

*.csproj

FunctionBulber/FunctionBulber/FunctionBilder.Dekstop/icons/

FunctionBulber/FunctionBulber/FunctionBilder.Dekstop/bin/

*.config

FunctionBulber/FunctionBulber/FunctionBilder.Dekstop/obj/

FunctionBulber/FunctionBulber/FunctionBuilber.Console/obj/

FunctionBulber/FunctionBulber/FunctionBuilber.Console/bin/

FunctionBulber/FunctionBulber/FunctionBuilber.Console/.vs/

FunctionBulber/FunctionBuilber.Console/bin/

FunctionBulber/FunctionBuilber.Console/.vs/

FunctionBulber/FunctionBilder.Dekstop/icons/

FunctionBulber/FunctionBilder.Dekstop/bin/

MegaChees/MegaCheess.Menu/obj/

MegaChees/MegaCheess.Menu/bin/

MegaChees/MegaCheess.Menu/.vs/

MegaChees/MegaCheesLogic/obj/

MegaChees/MegaCheesLogic/bin/

MegaChees/ChessAvalone/bin/

MegaChees/ChessAvalone/icon/

MegaChees/ChessAvalone/obj/

MegaChees/Chess.Test/obj/

MegaChees/Chess.Test/bin/

MegaChees/.vs/

MegaChees/MegaChees.sln

MegaChees/MegaChees.Logic/obj/

MegaChees/MegaChees.Logic/bin/

MegaChees/Chess.Dekstop/obj/

MegaChees/Chess.Dekstop/icon/

MegaChees/Chess.Dekstop/bin/

FunctionBulber/

MegaChees/MegaChess.Dekstop/obj/

MegaChees/MegaChess.Dekstop/Assets/

MegaChees/MegaChess.Dekstop/bin/

MegaChees/Chess.Dekstop/
